<div class="relative h-16">
  <div>
<h1 class="text-xl">    User's table</h1>
  </div>
  <div class="absolute right-0 top-0">
    <button
      (click)="generatePDF()"
      class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900"
    >
      View Pdf
    </button>
    <button
      (click)="generatePDF('download')"
      class="py-2.5 px-5 me-2 mb-2 text-gray-900 bg-white border border-gray-300"
    >
   Download Pdf
    </button>
  </div>
</div>
<div class="m-4 overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase border border-gray-300">
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">PhoneNumber</th>
        <th scope="col" class="px-6 py-3">Address</th>
        <th scope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of userList; track $index) {
      <tr class="border-b">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ user.name }}
        </th>
        <td class="px-6 py-4">
          {{ user.email }}
        </td>
        <td class="px-6 py-4">
          {{ user.phoneNumber }}
        </td>
        <td class="px-6 py-4">
          {{ user.address }}
        </td>
        <td class="px-6 py-4">
          <div class="space-x-2">
            <button (click)="updateuser(user)" class="text-black">edit</button>
            <button (click)="deleteUser(user.id)" class="text-red-600">delete</button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
  @if(userList.length==0&& !errorMessage){
  <div class="max-w-sm mx-auto text-xl">No User found</div>
  }@else if(errorMessage){
  <div class="text-red-700">{{errorMessage}}</div>

  }
</div>
